* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #222;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  color: rgb(255, 206, 47);
}

nav ul{
  display: flex;
  flex-direction: row;
}

nav li{
  list-style: none;
  padding: 10px;
  font-size: x-large;
  
}

nav li a {
  color:  rgb(255, 206, 47);
}

#search-section {
  text-align: center;
  margin-bottom: 30px;
}

#search-section input {
  margin-top: 10px;
  padding: 8px;
  padding-left: 10px;
  width: 250px;
  font-size: 16px;
  border-radius: 16px;
  border: 2px solid rgb(255, 206, 47);
}

#pokemon-list {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#pokemon-list li a {
  text-decoration: none;
  color:  rgb(255, 206, 47);
}

#pokemon-list ul {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Ensure 5 columns */
  grid-gap: 20px; /* Spacing between items */
  list-style-type: none;
  width: 100%;
  max-width: 1000px; /* You can tweak the max-width based on your layout */
  margin-left: auto;
  margin-right: auto;
}

#pokemon-list main {
  width: 100%;
}

.pokemon {
  text-align: center;
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.pokemon:hover {
  transform: scale(1.1);
}

.pokemon img {
  width: 100px;
  height: 100px;
  margin-bottom: 0px;
}

.pokemon h3 {
  padding-top: 10px;
  font-size: 18px;
  color: rgb(255, 206, 47);
}

#pokemon-details {
  margin-top: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 40%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#pokemon-details ul {
  display: block;
  list-style-type: none;
}

#pokemon-details #details {
  font-size: 16px;
  color: #333;
}

#pokemon-details h2 {
  color: rgb(255, 206, 47);
}

#loading {
  font-size: 20px;
  color: rgb(255, 206, 47);
  text-align: center;
  margin-top: 20px;
}

.no-results {
  text-align: center;
  font-size: 18px;
  color: #ff0000;
  padding: 20px;
  width: 200%;
  margin-left: 173%;
}

#pokemon-list main h2 {
  text-align: center;
}

main h2 {
  padding-top: 40px;
  font-size: xx-large;
}

main p {
  padding-top: 20px;
  font-size: large;
  text-align: center;
}

#favorite {
  margin-top: 10px;
  padding: 2px;
  padding-left: 2px;
  width: 200px;
  font-size: 16px;
  border-radius: 16px;
  border: 2px solid rgb(255, 206, 47);
}

#type-filter {
  padding: 4px;
  font-size: 16px;
  border-radius: 8px;
  border: 2px solid rgb(255, 206, 47)
}
